!!! xml
!!!
%html
  %head
    %title hello assholes
    %link(rel="stylesheet" type="text/css" href="css/style.css")

  %body

    %nav
      %ul.navbar
        %li
          %i.fa.fa-home
          Home

        %li
          %i.fa.fa-home
          About

        %li
          %i.fa.fa-home
          Contact

        %li
          %i.fa.fa-home
          Feedback

        %li
          %i.fa.fa-home
          Credit List

    .profile
      %h1 Ravi Kumar Taneja
      %ul.list
        %li
          %i.fa.fa-envelope
          ravi.game.taneja@gmail.com
        %li
          %i.fa.fa-mobile-phone
          +91 7404989828
      .bg-top

    .column
      .objective
        %h3.heading Objective
        %p
          An computer enthusiastic seeking a challenging position in a IT
          company offering responsibility and career growth as well as
          gives me the opportunity to improve and learn new skills which
          help me in both personal and professional level.
        .window-control
          .head Objective
          .ctrl-grp
            %button(type="button" class="ctrl-btn") MI
            %button(type="button" class="ctrl-btn") MX
            %button(type="button" class="ctrl-btn") CL

      .education
        %h3.heading Education Details
        %p
          %strong.red Diploma
          in
          %span CSE
          from
          %strong Govt. Polytechnic Jhajjar(HR.)
          with an aggregate of
          %strong.red 68%
          Marks

        %p
          %strong.red 10
          %sup th
          from
          %strong S.D. Se Sec School Jhajjar(HR.)
          with an aggregate of
          %strong.red 58%
          Marks

        .window-control
          .head Education
          .ctrl-grp
            %button(type="button" class="ctrl-btn") MI
            %button(type="button" class="ctrl-btn") MX
            %button(type="button" class="ctrl-btn") CL

      .skills
        %h3.heading Skills
        %p
          %p
            %strong.red HTML5, CSS3,
            %strong jQuery,
            %strong PHP,
            %strong JavaScript,
            %strong Codeigniter,
            %strong Bootstrap,
            %strong Photoshop,
            %strong C, C++
        .window-control
          .head Skills
          .ctrl-grp
            %button(type="button" class="ctrl-btn") MI
            %button(type="button" class="ctrl-btn") MX
            %button(type="button" class="ctrl-btn") CL

      .skills
        %h3.heading Skills
        %p
          %p
            %strong HTML5
            %span.red 80%
          %p
            %strong CSS3
            %span.red 60%
          %p
            %strong CSS3
            %span.red 60%
        .window-control
          .head Skills
          .ctrl-grp
            %button(type="button" class="ctrl-btn") MI
            %button(type="button" class="ctrl-btn") MX
            %button(type="button" class="ctrl-btn") CL

      .education
        %h3.heading Education
        %p
          %strong Diploma
          in
          %span.red CSE
          from
          %strong Govt. Polytechnic Jhajjar
        .window-control
          .head Skills
          .ctrl-grp
            %button(type="button" class="ctrl-btn") MI
            %button(type="button" class="ctrl-btn") MX
            %button(type="button" class="ctrl-btn") CL

      .skills
        %h3.heading Skills
        %p
          %p
            %strong HTML5
            %span.red 80%
        .window-control
          .head Skills
          .ctrl-grp
            %button(type="button" class="ctrl-btn") MI
            %button(type="button" class="ctrl-btn") MX
            %button(type="button" class="ctrl-btn") CL

      .skills
        %h3.heading Skills
        %p
          %p
            %strong HTML5
            %span.red 80%
          %p
            %strong CSS3
            %span.red 60%
          %p
            %strong CSS3
            %span.red 60%
        .window-control
          .head Skills
          .ctrl-grp
            %button(type="button" class="ctrl-btn") MI
            %button(type="button" class="ctrl-btn") MX
            %button(type="button" class="ctrl-btn") CL