!!! xml
!!!
%html
  %head
    %title hello assholes
    %link(rel="stylesheet" type="text/css" href="css/style.css")

  %body

    %nav
      %ul.navbar
        %li
          %i.fa.fa-home
          Home

        %li
          %i.fa.fa-home
          About

        %li
          %i.fa.fa-home
          Contact

        %li
          %i.fa.fa-home
          Feedback

        %li
          %i.fa.fa-home
          Credit List

    .profile
      %h2 Name Is
      %h1 Ravi Kumar Taneja Madridista
      .bg-top

    .column
      .education
        %h3.heading Education
        %p
          %strong Diploma
          in
          %span.red CSE
          from
          %strong Govt. Polytechnic Jhajjar
        .window-control
          .head Skills
          .ctrl-grp
            %button(type="button" class="ctrl-btn") MI
            %button(type="button" class="ctrl-btn") MX
            %button(type="button" class="ctrl-btn") CL

      .skills
        %h3.heading Skills
        %p
          %p
            %strong HTML5
            %span.red 80%
        .window-control
          .head Skills
          .ctrl-grp
            %button(type="button" class="ctrl-btn") MI
            %button(type="button" class="ctrl-btn") MX
            %button(type="button" class="ctrl-btn") CL

      .skills
        %h3.heading Skills
        %p
          %p
            %strong HTML5
            %span.red 80%
          %p
            %strong CSS3
            %span.red 60%
          %p
            %strong CSS3
            %span.red 60%
        .window-control
          .head Skills
          .ctrl-grp
            %button(type="button" class="ctrl-btn") MI
            %button(type="button" class="ctrl-btn") MX
            %button(type="button" class="ctrl-btn") CL

      .education
        %h3.heading Education
        %p
          %strong Diploma
          in
          %span.red CSE
          from
          %strong Govt. Polytechnic Jhajjar
        .window-control
          .head Skills
          .ctrl-grp
            %button(type="button" class="ctrl-btn") MI
            %button(type="button" class="ctrl-btn") MX
            %button(type="button" class="ctrl-btn") CL

      .skills
        %h3.heading Skills
        %p
          %p
            %strong HTML5
            %span.red 80%
        .window-control
          .head Skills
          .ctrl-grp
            %button(type="button" class="ctrl-btn") MI
            %button(type="button" class="ctrl-btn") MX
            %button(type="button" class="ctrl-btn") CL

      .skills
        %h3.heading Skills
        %p
          %p
            %strong HTML5
            %span.red 80%
          %p
            %strong CSS3
            %span.red 60%
          %p
            %strong CSS3
            %span.red 60%
        .window-control
          .head Skills
          .ctrl-grp
            %button(type="button" class="ctrl-btn") MI
            %button(type="button" class="ctrl-btn") MX
            %button(type="button" class="ctrl-btn") CL
